.searchBarCom {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  overflow: hidden;

  .search {
    --border-radius: 100px;
    --background: #f6f6f6;
    --adm-color-primary: #f6f6f6;
    flex: 1;
  }

  :global {
    .adm-search-bar-input-box {
      height: 40px;
    }
  }
}