@import '../../../styles/common.scss';

.msgPrompt {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  width: rem(350);
  height: rem(80);
  border-radius: 12px;
  z-index: 999;
  box-sizing: border-box;
  padding: rem(20);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #222;
  box-shadow: 0 0 2px #c8c8c8;
  overflow: hidden;

  .imgTip {
    width: rem(60);
    overflow: hidden;
  }

  .title {
    margin-left: 15px;
    width: rem(150);
    font-size: rem(16);
  }
}