@import '../../../../styles/common.scss';

.wrap {
  padding: 0 rem(20);
}

.container {
  padding: rem(20) 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f6f6f6;

  .left {
    width: rem(86);
    height: rem(86);
    border-radius: 8px;
    margin-right: rem(12);
  }

  .right {
    flex: 1;
    height: rem(86);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: rem(18)
  }

  .title {
    h4 {
      @extend %max2Line;
      font-weight: normal;
    }

    .attr {
      font-size: 9px;
    }
  }

  .operation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .price {
      font-size: rem(13);
      font-weight: 700;

      .skuNum {
        font-weight: normal;
        font-size: rem(10);
      }
    }

    .btn {
      width: rem(80);
      height: rem(25);

      &:first-child {
        margin-right: rem(5);
      }
    }
  }
}