@import "../../../styles/common.scss";
.errorPage {
  width: rem(320);
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  .title {
    color: #222;
    font-size: rem(36);
  }

  .desc {
    font-size: rem(12);
  }

  .continue {
    color: #4680f7;
  }

  .continue:hover{
    text-decoration-line: underline;
  }
}
