@import '../common.scss';

.navbar {
  --border-bottom: 1px solid #f6f6f6;
  position: sticky;
  top: 0;
  background: #fff;
}

.main {
  padding: rem(20);
  height: calc(100vh - 45px - rem(60));
  overflow: auto;
}

.footer {
  height: rem(60);
  padding: 0 rem(20);
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 3px #c8c8c8;
  background: #fff;

  p {
    font-size: rem(14);
    font-weight: 600;
  }

  .btn {
    width: rem(200);
    height: rem(40);
    font-size: rem(13);
  }
}