@import '../common.scss';

.wrap {
  height: 100vh;
  font-size: rem(14);

  .main {
    padding: rem(20);
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .desc {
    font-weight: 400;
    margin: rem(30) 0;
    line-height: rem(18);
  }

  .info {
    width: 100%;
    p {
      padding: rem(15) 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 1px solid #f6f6f6;
      span {
        &:last-child {
          font-weight: 400;
        }
      }
    }
  }
}