@import '../../../styles/common.scss';

.brand {
	padding: rem(15);

	.brandHeader {
		display: flex;
	}

	.brandFollow {
		flex: 1;
	}

	.headerLogo {
		width: rem(76);
		height: rem(76);
		background-color: rgba($color: #000, $alpha: 0.05);
		border: 1px solid #f6f6f6;
		border-radius: rem(8);
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: rem(10);
	}

	.brandTips {
		margin-top: rem(10);
		display: flex;
		flex-wrap: wrap;

		li {
			padding: rem(1) rem(4);
			border: 0.4px solid #7a7a7a;
			background-color: #fff;
			margin-top: rem(5);
			margin-right: rem(5);
			border-radius: 6px;
			font-weight: 400;
		}
	}

	.brandDesc {
		margin-top: rem(5);
		color: #4e4e4e;
		line-height: rem(18);
		font-size: rem(11);
		font-weight: 400;
	}
}
