@import '../../../../styles/common.scss';

.detailTitle {
	padding-bottom: rem(20);
	border-bottom: 1px solid #f6f6f6;

	h1 {
		font-size: rem(14);
		line-height: rem(22);
		font-weight: 500;
	}

	.price {
		margin-top: rem(10);
		font-size: rem(13);

		b {
			font-weight: 700;
		}

		.original_price {
			color: #919191;
			text-decoration: line-through;
			margin: 0 rem(5);
		}

		.discount {
			color: #f93a3a;
			background-color: #fff5f5;
			padding: rem(2) rem(3);
			border-radius: rem(3);
		}
	}
}
