@import '../../../styles/common.scss';

.share {
  cursor: pointer;

  .pic svg {
    width: 25px;
    height: 25px;
  }
}

.shareList {
  padding: rem(20);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .shareFacebook {
    font-size: rem(40);
    color: #1877f2;
  }

  .shareTwitter {
    font-size: rem(40);
    color: rgb(29, 155, 240);
  }

  .shareBtn {
    font-size: rem(40);
  }

  .pinterest {
    font-size: rem(40);
  }
}