.topHead {
  height: 48px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .center {
    font-size: 17px;
    font-weight: 600;
    padding: 0 20px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}